.not-found {
  a {
    display: block;
    width: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #aaa;  
  }
}